:root {
  --main-color: #121212;
  --background-color: white;
  --border: black;
  --hover: rgba(251, 251, 250, 1);
  --subtitle: #757776;
  --gold: #c6a348;
  --grid-margin: 4rem;
  --grid-gap: 2rem;
  --header-height: 56px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
time,
p,
a {
  margin: 0;
  padding: 0;
}

a {
  color: currentColor;
  text-decoration: none;
  cursor: pointer;
}

img,
picture,
svg,
video {
  display: block;
  pointer-events: none;
}

img,
video {
  width: 100%;
  height: auto;
}

body {
  position: relative;
  height: 100%;
  min-height: 100%;
  margin: 0;
  font-family: "GQSans Bold", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5em;
  letter-spacing: 0.0025em;
  background: var(--background-color);
  -webkit-font-smoothing: antialiased;
}

.scroll-lock {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.header {
  position: fixed;
  top: 0px;
  z-index: 450;
  display: grid;
  grid-template-columns: auto 1fr auto;
  justify-content: stretch;
  align-items: center;
  gap: 3rem;
  width: 100%;
  border-bottom: 1px solid var(--border);
  padding-inline: 0.5rem;
  background-color: var(--background-color);
  transition: transform 200ms cubic-bezier(0.12, 0, 0.39, 0) 0ms;
  transform: translateY(0);
  will-change: transform;
}

.header.is-hidden {
  border-bottom: none;
  transition: transform 350ms cubic-bezier(0.61, 1, 0.88, 1) 0ms;
  transform: translateY(-100%);
}

.logo svg {
  box-sizing: content-box;
  width: auto;
  max-width: 100%;
  height: 32px;
  padding: 0.75rem 0px;
}

.logo svg path:first-child {
  fill: #c6a348;
}

.logo svg path:last-child {
  fill: var(--main-color);
}

.logo-clickable.active {
  pointer-events: none;
}

.one-nav-area-container {
  display: flex;
  grid-column-start: 3;
  justify-content: end;
  width: 100%;
  margin-left: auto;
  overflow: auto;
}

.one-nav-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  overflow: auto;
  scrollbar-width: none;
}

.one-nav-clickable {
  border-bottom: 2px solid transparent;
  padding: 0.75rem 0.5rem;
  color: var(--main-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14286em;
  letter-spacing: 0.0428571em;
  text-transform: uppercase;
  transition: background 0.2s ease-in-out;
}

.one-nav-clickable.active {
  border-bottom: 2px solid var(--gold);
  pointer-events: none;
}

.one-nav-clickable[data-id="base-clickable"] {
  border-bottom: 2px solid transparent !important;
}

.main-padding {
  padding: calc(250px + var(--header-height)) 0 90px;
}

main {
  max-width: 1600px;
  margin: 0px auto;
  background-color: var(--background-color);
}

.year-header-hed {
  margin-bottom: 2rem;
  padding: 2.5rem 0 5rem;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16667em;
  letter-spacing: -0.0171429em;
  text-align: center;
  text-transform: uppercase;
}

.summary-collection {
  padding-inline: var(--grid-margin);
}

.summary-collection-content {
  column-gap: var(--grid-gap);
}

.summary-item {
  grid-column: span 3;
  margin-bottom: 1rem;
  cursor: pointer;
}

.summary-item-content {
  padding: 1rem 0px 2rem;
}

.summary-item-hed {
  margin-bottom: 1rem;
  font-size: 22px;
  line-height: 1.18182em;
}

.summary-item-publish-date {
  display: block;
  color: var(--subtitle);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.25em;
}

.popup {
  position: fixed;
  inset: 0;
  z-index: 451;
  visibility: hidden;
  opacity: 0;
  overflow-y: auto;
  background: var(--background-color);
  pointer-events: none;
  user-select: none;
  -ms-overflow-style: none;
}

.popup.is-open {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.popup-content {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: var(--background-color);
}

.content-header:not(.line) {
  max-width: 1600px;
  margin: 0 auto;
}

.content-header-container.vertical-image img {
  grid-column: 3 / -3;
}

.content-header.line {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.content-header-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem var(--grid-margin);
  text-align: center;
}

.line .content-header-title {
  width: 500px;
}

.content-publish-date {
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.0285714em;
}

.content-header-hed {
  font-size: 52px;
  line-height: 1.07692em;
}

.article-body-content {
  width: 100%;
  max-width: 1600px;
  margin: 0px auto;
  padding-top: 3rem;
  padding-inline: var(--grid-margin);
}

.article-body {
  display: flex;
  flex-wrap: wrap;
  grid-column: 3 / span 8;
  gap: 1em 2.5rem;
}

.asset-embed.width-100 {
  width: 100%;
}

.asset-embed.width-50 {
  width: calc((100% - 2.5rem) / 2);
}

.asset-embed.width-33 {
  width: calc((100% - 2.5rem * 2) / 3);
}

.asset-embed.width-25 {
  width: calc((100% - 2.5rem * 3) / 4);
}

.footer {
  margin-top: 3rem;
  padding: 48px;
  background-color: black;
}

.footer .logo {
  display: block;
  width: fit-content;
  margin: 0 auto;
}

.footer svg path:first-child {
  fill: #e2e2e2;
}

.footer svg path:last-child {
  fill: #909090;
}

@media (hover: hover) and (pointer: fine) {
  .one-nav-clickable:hover {
    outline: 0px;
    background-color: var(--hover);
  }

  .summary-item-hed:hover {
    text-decoration: underline;
  }
}

@media (prefers-color-scheme: dark), .dark-theme {
  :root {
    --main-color: white;
    --background-color: #121212;
    --border: #575757;
    --hover: #1e1e1e;
    --subtitle: #8f9290;
  }
}

@media screen and (max-width: 1280px) {
  :root {
    --grid-margin: 3rem;
    --header-height: 80px;
  }

  .header {
    grid-template-columns: 1fr auto 1fr;
  }

  .logo {
    grid-column-start: 2;
    margin: 0 auto;
  }

  .logo svg {
    height: 56px;
  }
}

@media screen and (max-width: 1024px) {
  :root {
    --grid-gap: 1.5rem;
    --header-height: 48px;
  }

  .header {
    grid-template-columns: auto 1fr auto;
    gap: 0.5rem;
  }

  .logo {
    grid-column-start: 1;
    margin: 0;
  }

  .logo svg {
    min-width: 61px;
    height: 32px;
    padding: 0.5rem 0px;
  }

  .content-header-container.vertical-image img {
    grid-column: 1 / -1;
  }

  .content-header-hed {
    font-size: 36px;
    line-height: 1.16667em;
  }
}

@media screen and (max-width: 768px) {
  :root {
    --grid-gap: 1rem;
    --grid-margin: 1.5rem;
  }

  .grid-wrapper {
    grid-template-columns: repeat(4, 1fr);
  }

  .main-padding {
    padding: calc(100px + var(--header-height)) 0 50px;
  }

  .year-header-hed {
    margin: 0;
    padding: 2rem 0;
    font-size: 28px;
    line-height: 1.14286em;
  }

  .summary-item {
    grid-column: 1 / -1;
    margin: 0;
    padding: 1rem 0;
  }

  .summary-item:first-child {
    padding-top: 0;
  }

  .summary-item-content {
    padding-bottom: 0;
  }

  .summary-item-hed {
    margin-bottom: 0.5rem;
  }

  .content-header.line {
    display: block;
  }

  .line .content-header-title {
    width: 100%;
  }

  .content-header-hed {
    font-size: 28px;
    line-height: 1.14286em;
  }

  .article-body-content {
    padding-top: 2rem;
    padding-inline: 0;
  }

  .article-body {
    grid-column: 1 / -1;
    gap: 40px;
  }

  .asset-embed.width-100 {
    padding-inline: var(--grid-margin);
  }

  .asset-embed.width-50 {
    width: 100%;
  }

  .asset-embed.width-33 {
    width: 100%;
  }

  .asset-embed.width-25 {
    width: 100%;
  }

  .asset-embed.aspect-ratio-1 {
    aspect-ratio: 1;
  }

  .asset-embed.object-position-right {
    object-position: right;
    aspect-ratio: 1;
  }
}
